@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

[data-theme="dark"] {
  --bg: #0B0E13;
  --text: #ffffff;
  --primary: #07B6D5;
  --muted: #2b303b;
  --secondary: #14181F;
  --border: #272C35;
  --muted-text: #9DA6AF;
  --hover-item-color: #14181F;

}

[data-theme="light"] {
  --bg: #dddddd;
  --text: #000000;
  --primary: #07B6D5;
  --muted: #2b303b;
  --secondary: #14181F;
  --border: #272C35;
  --muted-text: #9DA6AF;
  --hover-item-color: #14181F;
}
